[user]
        name = Marina Kent
        email = mtkent@hotmail.com
[push]
        default = simple
[credential]
        helper = osxkeychain
[init]
        templatedir = /Users/marinakent/.git_template
[core]
        excludesfile = /Users/marinakent/.gitignore_global
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path = 
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[alias]
    com = checkout main
    tag = tag -a
    st = status -s -b
    sl = stash list
    ci = commit
    cim = commit -m
    co = checkout
    cod = checkout develop
    br = branch
    pb = push -u origin
    f = fetch --all
    pull = pull --rebasegit --autostash
    r = remote -v
    b = branch -a
    info = remote show origin
    wdiff = diff --no-ext-diff --color-words
    l = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %C(cyan)%ad%d\n%C(green)%s\n%b%N"'
    ll = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an <%ae> %ad%d\n\t%C(blue)%cn <%ce> %ci\n%C(green)%s\n%b%N"'
    lm = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %C(cyan)%ad%d\n%C(green)%s\n%b%N"' master..
    ahead = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %ad\n%C(green)%s\n%b%N"' origin/master..HEAD
    behind = log --stat --format=format:'"%C(yellow)%h %C(cyan)%an %C(blue)(%cn) %ad\n%C(green)%s\n%b%N"' HEAD..origin/master
    hist = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset (%Cgreen%cr%Creset) %s [%Cblue%an%Creset]' --graph --abbrev-commit --date=relative
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
    logtags = log --tags --simplify-by-decoration --format=format:'"%ai %d"'
    prev = checkout @{-1}
    heads = for-each-ref --sort=-committerdate refs/heads/ --format='"%(refname:short) %1B[0;36m%(authorname)%1B[m %1B[0;33m%(committerdate)%1B[m"'
    tracked = ls-tree -r master --name-only
    rb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
